.tasks-container .input-add-task {
    width: 100%;
    background: var(--light);
    border-radius: var(--radius) var(--radius) 0 0;
    border: none;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 1.5rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.tasks-container .invalid-input-task {
    display: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--danger);
    margin-bottom: 1rem;
}

.tasks-container .invalid-input-task.active {
    display: block;
}

.tasks-container .input-add-task:focus {
    outline: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.tasks-container .task-filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:1rem 1.5rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background: var(--light-gray);
    background: var(--color-variant-gray);
    border-radius: 0 0 var(--radius) var(--radius);
}

.tasks-container .task-filter-container .filters-task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tasks-container .task-filter-container .filters-task li {
    font-size: 1.6rem;
    border-radius: var(--radius);
    padding: 1rem;
    cursor: pointer;
}

.tasks-container .task-filter-container .filters-task li a {
    color: var(--color-variant-1);
}

.tasks-container .task-filter-container .filters-task li.active,
.tasks-container .task-filter-container .filters-task li:hover {
    background: var(--primary);
}

.tasks-container .task-filter-container .filters-task li.active a,
.tasks-container .task-filter-container .filters-task li:hover a {
    color: var(--light);
}

.tasks-container .task-filter-container .submit-task {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    color: var(--light);
    font-weight: 700;
    background: var(--primary);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.tasks-container .task-filter-container .submit-task:hover {
    background: var(--primary-hover);
}

.tasks-container .tasks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    overflow-y: auto;
    height: 47rem;
}

.tasks-container .tasks::-webkit-scrollbar {
    width: 1rem;
}

.tasks-container .tasks::-webkit-scrollbar-track {
    background: var(--gray);
}

.tasks-container .tasks::-webkit-scrollbar-thumb {
    background: var(--primary);
    max-height: 1rem;
}
  

.tasks-container .tasks .task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 3rem;
    border-radius: var(--radius);
    background: #000;
}

.tasks-container .tasks .task .left,
.tasks-container .tasks .task .right {
    font-size: 1.8rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tasks-container .tasks .task .left {
    gap: 2rem;
    color: var(--light);
}

.tasks-container .tasks .task .left input[type="checkbox"] {
    all: unset;
    padding: 1rem;
    display: block;
    border: 1px solid var(--gray);
    border-radius: 50%;
}
  
.tasks-container .tasks .task .left input[type="checkbox"]:checked  {
    background: var(--primary);
}
  
.tasks-container .tasks .task .left input[type="checkbox"]:checked::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.tasks-container .tasks .task .right {
    gap: 3rem;
}

.tasks-container .tasks .task .right .task-icon {
    color: var(--light);
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.tasks-container .tasks .task .right .task-icon.task-edit:hover {
    color: var(--primary);
}

.tasks-container .tasks .task .right .task-icon.task-delete:hover {
    color: var(--danger);
}

/* Modal */
.modal-edit,
.modal-delete {
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-300rem);
        -ms-transform: translateX(-300rem);
            transform: translateX(-300rem);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.modal-edit.open,
.modal-delete.open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.modal-edit .modal-edit-content,
.modal-delete .modal-delete-content {
    padding: 2rem 3rem;
    border-radius: var(--radius);
    background: var(--primary);
    margin: 0 1rem;
}

.modal-edit .modal-edit-content form,
.modal-edit .modal-delete-content form {
    min-width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.modal-edit .modal-edit-content form > *,
.modal-delete .modal-delete-content form > * {
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius);
    border:none;
}

.modal-edit .modal-edit-content form input:focus,
.modal-edit .modal-delete-content form input:focus {
    outline: none;
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}

.modal-edit .modal-edit-content form button,
.modal-delete .modal-delete-content form button {
    font-weight: 600;
    cursor: pointer;
    background: #000;
    color: var(--light);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.modal-delete .modal-delete-content form button {
    width:100%;
    background:var(--danger);
}

.modal-edit .modal-edit-content form button:hover,
.modal-delete .modal-delete-content form button:hover {
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}

@media(max-width:767px) {
    .tasks-container .tasks {
        height: 26rem;
    }

    .tasks-container .tasks .task .left {
        font-size: 1.6rem;
    }
}

@media(max-width:320px) {
    .tasks-container .task-filter-container .submit-task {
        font-size: 1.6rem;
    }
}